@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=DynaPuff:wght@400..700&family=Lobster&display=swap');
@media screen and (max-width:376px){
    body{
        margin: 0%;
        background:linear-gradient(rgb(104, 196, 249),rgb(195, 152, 255));
    }
    a {
        color:white;
        text-decoration: none;
    }
    h2{
        display:flex;
        justify-content: center;
        font-family: "Lobster", serif;
        font-size:x-large;
        text-decoration: underline;        
    }
    h3{
        display: flex;
        padding-left: 5%;
        font-family:"DynaPuff",serif ;
    }
    h4{
        display:flex;
        padding-left: 7%;
        font-family:"Dancing Script",serif ;
        font-size: larger;
        font-weight: 500;
    }
    /* Pour le header: */
    header{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        font-family: "Lobster", serif;
    }
    header img{
        transform: rotate(-90deg);
        align-items: flex-start;
    }
    header div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 5%; 
        font-size: small;
    }
    header nav ul{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items:center;
        background-color: rgb(0, 0, 0);   
        list-style:none;
    }
    #portfolio{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    /* Pour les card du portefolio: */
    #card > div{
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
        border-radius: 10%;
        padding:5%;
        margin:5%;
        background-color: white;

    }
    #card p:first-of-type{
        font-family: "DynaPuff",serif;
        font-size: x-large;
    }
    #card p:last-of-type{
        font-family: "Caveat",serif;
        font-size: large;
    }
    #card a{
        font-family: "Dancing Script",serif;
        color: rgb(132, 0, 255);
    }
    /* Pour le profil: */
    #profil{
        display: flex;
        flex-direction: column;
        padding: 5%;
    }
    #profil img{
        display: flex;
        width: 20%;
        height: auto;
    }
    #profil p{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap; 
        align-items: center;
        font-family:"Caveat",serif ;
        font-size: large;
        font-weight: 300;
    }
    #language div {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-family:"Caveat",serif ;
        font-size: larger;
        font-weight: 300;
    }
    /* Pour les expériences: */
    #experience {
        display: flex;
        flex-direction: column;
        padding-left: 5%;
    }
    #experience p{
        font-family: "DynaPuff",serif;
        font-size: small;
    }
    #experience ul{
        font-family: "Caveat",serif;
        font-size: larger;
        list-style:none;
    }
    /* Pour les formations: */
    #formation{
        display: flex;
        flex-direction: column;
        padding-left:5% ;
    }
    #formation p{
        font-family: "DynaPuff",serif;
        font-size: small;
    }
    
    #formation .explain{
        font-family: "Caveat",serif;
        font-size: larger;
    }
    #formation img{
        flex-direction: row;
        flex-wrap: wrap;
        width: 20%;
        height: auto;
    }
    /* Pour les contacts: */
    #contact_footer #mail{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-family: "DynaPuff",serif;
        font-size: small;
        width: 15%;
        height: auto;
    }
    #contact_footer #tel{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-family: "DynaPuff",serif;
        font-size: small;
        width: 15%;
        height: auto;
    }
    #social_media{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
    }
    #contact_footer #social_media a{
        width:25%;
        height: auto;
    }
}


@media screen and(min-width:1025px) {
    
}